# Data science Ecosystem

# introduction :
 this overview of data science languages, libraries and tools

# objectives
* identify the languages that we will learn to be useful for the data scientist's 
* identify the tools for data scientist's 
* identify the libiraries that we can use 
* identify and be familier with jupyter notebooks and jupyterlab 
* identify RStudio and GitHub

# Data Science languages :
### here some of popular Data Science languages that used by the data scientists 
<p> 1- Python <br>
<p> 2- R <br>
<p> 3- SQL <br>
<p> 4- Scala <br>
<p> 5- Java <br>
<p> 6- C++ <br>
<p> 7- Julia <br>
<p> 8- JavaScript <br>
<p> 9- PHP <br>
<p> 10- Go <br>
<p> 11- Ruby <br>
<p> 12- Visual Basic <br>

# Data science libriaies :
### here some of the commonly used libraries used by data scientists
<p> 1- Pandas <br>
<p> 2- NumPy <br>
<p> 3- Matplotlib <br>
<p> 4- package <br>
<p> 5- Seaborn <br>
<p> 6- Scikit-learn <br>
<p> 7- Keras <br>
<p> 8- TensorFlow <br>
<p> 9- Pytorch <br>
<p> 10- Apache Spark <br>
<p> 12- Vegas <br>
<p> 13- big DL <br>
<p> 14- ggplot2 <br>

| data Science Tools |
|------------------|
| Anaconda |
| jupyter Notebooks |
| R Studio |
| spyder |
| Zeppelin |
| MYSQL |
| PostgreSQL |
| MongoDB |
| Apache CouchDB |
| Apache Cassandra |
| Hadoop File system |
| Ceph |
| Apache Airflow |
| Kubeflow |
| Apache Kafka |
| Apache Nifi |
| NodeRED |
| Pixi Dust |
| Hue |
| Kibana |
| Apache superset |
| Apache PredictionalO |
| Seldon |
| Kubernetes |
| Redhat OpenShift |
| Mleap |
| TensorFlow service |
| TenserFlow.JS |
| ModleDB |
| Prometheus |
| IBM AI Fairness 360 |
| IBM AI Explainability 360 |
| Git |
| GitHub |
| GitLab |
| Bitbucket |
| Apache Atlas |
| ODPi Egeria |
| Kylo |

### Below are a few examples of vealuating arithmetic expression examples :

<p> 5 <br>
<p> (7+11) <br>
<p> (23*4) <br>
<p> (8-3) <br>

In [6]:
# this is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# this will convert 200 minutes to hours by dividing by 60
minutes = 200
(200/60)

3.3333333333333335

# Author(s)
<p> salah Elmagdoub <br>
<p> Lakshmi Holla <br>
<p> Niveditha Pandith <br>